            :root {
                --system-backdrop-default: blur(12px) saturate(120%);
                --system-backdrop-medium: blur(16px) saturate(120%);
                --system-backdrop-heavy: blur(42px) saturate(120%);
                --system-color-avatar: hsla(0, 0%, 0%, 0.05);
                --system-color-accordion: hsl(0, 0%, 97%);
                --system-color-accordionLight: hsl(0, 0%, 99%);
                --system-color-border: hsla(0, 0%, 0%, 0.05);
                --system-color-button: hsla(0, 0%, 0%, 0.02);
                --system-color-buttonColor: hsla(0, 0%, 0%, 0.8);
                --system-color-buttonDanger: hsl(345, 100%, 60%);
                --system-color-buttonDangerColor: hsl(0, 0%, 100%);
                --system-color-buttonDangerHover: hsl(347, 82%, 54%);
                --system-color-buttonHover: hsla(0, 0%, 0%, 0.05);
                --system-color-buttonSuccess: hsl(160, 100%, 40%);
                --system-color-buttonSuccessColor: hsl(0, 0%, 100%);
                --system-color-buttonSuccessHover: hsl(159, 100%, 37%);
                --system-color-codeBackground: hsla(0, 0%, 0%, 0.02);
                --system-color-codeColor: #666;
                --system-color-codeCopyBackground: hsla(0, 0%, 0%, 0.1);
                --system-color-codeCopyColor: hsla(0, 0%, 0%, 0.7);
                --system-color-codeDimmed1: #999;
                --system-color-codeDimmed2: #bbb;
                --system-color-codeDimmed3: #eee;
                --system-color-codeScrollbarThumb: hsla(0, 0%, 0%, 0.1);
                --system-color-codeScrollbarThumbHover: hsla(0, 0%, 0%, 0.15);
                --system-color-codeSelection: hsla(0, 0%, 0%, 0.05);
                --system-color-codeTint1: #fa0;
                --system-color-codeTint2: #3ae;
                --system-color-codeTint3: #f97;
                --system-color-codeTint4: #0bc;
                --system-color-codeTint5: #85f;
                --system-color-codeTint6: #0bf;
                --system-color-footerColor: hsla(0, 0%, 0%, 0.8);
                --system-color-footerHeadingColor: hsl(0, 0%, 0%);
                --system-color-footerSecondaryColor: hsla(0, 0%, 0%, 0.4);
                --system-color-input: hsl(0, 0%, 97%);
                --system-color-inputTransparent: hsla(0,0%,97%,0);
                --system-color-inputColor: hsla(0, 0%, 0%, 0.9);
                --system-color-inputDangerColor: hsl(345, 100%, 60%);
                --system-color-inputDangerFocusBorder: hsl(345, 100%, 60%);
                --system-color-inputDisabledColor: hsla(0, 0%, 0%, 0.2);
                --system-color-inputPlaceholderColor: hsla(0, 0%, 0%, 0.3);
                --system-color-modal: hsl(0, 0%, 100%);
                --system-color-navigation: hsl(0, 0%, 100%);
                --system-color-navigationAbove: hsl(0, 0%, 100%);
                --system-color-navigationLight: hsla(0, 0%, 0%, 0.05);
                --system-color-navigationBorder: hsla(0, 0%, 0%, 0.05);
                --system-color-navigationColor: hsl(0, 0%, 0%);
                --system-color-navigationThemeColor: hsl(0, 0%, 0%);
                --system-color-navigationMediumColor: hsl(0, 0%, 37%);
                --system-color-navigationLightColor: hsl(0, 0%, 54%);
                --system-color-outline: rgba(0, 0, 0, 0.05);
                --system-color-overlay: hsla(0, 0%, 0%, 0.5);
                --system-color-page: hsl(0, 0%, 100%);
                --system-color-pageTransparent: hsla(0,0%,100%,0);
                --system-color-pageColor: hsl(0, 0%, 0%);
                --system-color-pageColorLight: hsla(0, 0%, 0%, 0.7);
                --system-color-pageColorLighter: hsla(0, 0%, 0%, 0.5);
                --system-color-pageColorLightest: hsla(0, 0%, 0%, 0.3);
                --system-color-plane: hsl(0, 0%, 100%);
                --system-color-primary: hsl(204, 100%, 50%);
                --system-color-primaryDark: hsl(206, 100%, 47%);
                --system-color-segmentedControl: hsl(0, 0%, 100%);
                --system-color-segmentedControlSeparator: hsla(0, 0%, 0%, 0.05);
                --system-color-segmentedControlColor: hsla(0, 0%, 0%, 0.5);
                --system-color-selection: hsl(202, 100%, 54%);
                --system-color-selectionColor: hsl(0, 0%, 100%);
                --system-color-sheet: hsl(0, 0%, 100%);
                --system-color-sheetFlat: hsl(0, 0%, 98%);
                --system-color-sheetOutline: hsl(0, 0%, 97%);
                --system-color-searchActive: hsla(0, 0%, 0%, 0.05);
                --system-color-searchColor: hsla(0, 0%, 0%, 0.4);
                --system-color-searchSeparator: hsla(0, 0%, 0%, 0.05);
                --system-color-tableCheckerboard: hsla(0, 0%, 0%, 0.02);
                --system-color-wireframe: hsla(345,100%,60%,0.08);
                --system-depth-high: 10;
                --system-depth-higher: 20;
                --system-depth-highest: 30;
                --system-depth-beforeNavigation: 9999;
                --system-depth-navigation: 10000;
                --system-depth-afterNavigation: 10001;
                --system-depth-beforeOverlay: 19999;
                --system-depth-overlay: 20000;
                --system-depth-afterOverlay: 20001;
                --system-depth-wireframe: 30000;
                --system-dimension-gutter: 20px;
                --system-dimension-fontSize: 20px;
                --system-dimension-fontSizeTablet: 18px;
                --system-dimension-fontSizeMobile: 16px;
                --system-dimension-fontSizeMinimum: 14px;
                --system-dimension-navigationHeight: 60px;
                --system-dimension-navigationSubnavigationHeight: 40px;
                --system-dimension-navigationBannerHeight: 32px;
                --system-dimension-buttonHeight: 52px;
                --system-dimension-buttonHeightSmall: 40px;
                --system-dimension-buttonHeightSmaller: 32px;
                --system-dimension-buttonRadius: 14px;
                --system-dimension-buttonRadiusSmall: 10px;
                --system-dimension-buttonRadiusSmaller: 8px;
                --system-dimension-buttonPadding: 20px;
                --system-dimension-buttonPaddingSmall: 16px;
                --system-dimension-buttonPaddingSmaller: 12px;
                --system-dimension-cardPadding: 36px;
                --system-dimension-cardPaddingSmall: 24px;
                --system-dimension-cardRadius: 16px;
                --system-dimension-checkboxRadius: 8px;
                --system-dimension-checkboxRadiusSmall: 4px;
                --system-dimension-checkboxSize: 24px;
                --system-dimension-checkboxSizeSmall: 16px;
                --system-dimension-formSpacing: 8px;
                --system-dimension-modalWidth: 480px;
                --system-dimension-modalRadius: 20px;
                --system-dimension-pivotRadiusSmall: 16px;
                --system-dimension-pivotRadius: 20px;
                --system-dimension-pivotRadiusLarge: 24px;
                --system-family-default: GT Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;
                --system-family-mono: Input Mono, SF Mono, Menlo, Monaco, Courier, monospace;
                --system-family-scribble: Nanum Pen Script, sans-serif;
                --system-family-interface: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
                --system-palette-transparent: transparent;
                --system-palette-white: hsl(0, 0%, 100%);
                --system-palette-white95: hsla(0, 0%, 100%, 0.95);
                --system-palette-white90: hsla(0, 0%, 100%, 0.9);
                --system-palette-white80: hsla(0, 0%, 100%, 0.8);
                --system-palette-white70: hsla(0, 0%, 100%, 0.7);
                --system-palette-white60: hsla(0, 0%, 100%, 0.6);
                --system-palette-white50: hsla(0, 0%, 100%, 0.5);
                --system-palette-white40: hsla(0, 0%, 100%, 0.4);
                --system-palette-white30: hsla(0, 0%, 100%, 0.3);
                --system-palette-white20: hsla(0, 0%, 100%, 0.2);
                --system-palette-white15: hsla(0, 0%, 100%, 0.15);
                --system-palette-white12: hsla(0, 0%, 100%, 0.12);
                --system-palette-white10: hsla(0, 0%, 100%, 0.1);
                --system-palette-white07: hsla(0, 0%, 100%, 0.07);
                --system-palette-white05: hsla(0, 0%, 100%, 0.05);
                --system-palette-white02: hsla(0, 0%, 100%, 0.02);
                --system-palette-black: hsl(0, 0%, 0%);
                --system-palette-black95: hsla(0, 0%, 0%, 0.95);
                --system-palette-black90: hsla(0, 0%, 0%, 0.9);
                --system-palette-black80: hsla(0, 0%, 0%, 0.8);
                --system-palette-black70: hsla(0, 0%, 0%, 0.7);
                --system-palette-black60: hsla(0, 0%, 0%, 0.6);
                --system-palette-black50: hsla(0, 0%, 0%, 0.5);
                --system-palette-black40: hsla(0, 0%, 0%, 0.4);
                --system-palette-black30: hsla(0, 0%, 0%, 0.3);
                --system-palette-black20: hsla(0, 0%, 0%, 0.2);
                --system-palette-black15: hsla(0, 0%, 0%, 0.15);
                --system-palette-black12: hsla(0, 0%, 0%, 0.12);
                --system-palette-black10: hsla(0, 0%, 0%, 0.1);
                --system-palette-black07: hsla(0, 0%, 0%, 0.07);
                --system-palette-black05: hsla(0, 0%, 0%, 0.05);
                --system-palette-black02: hsla(0, 0%, 0%, 0.02);
                --system-palette-gray02: hsl(0, 0%, 2%);
                --system-palette-gray04: hsl(0, 0%, 4%);
                --system-palette-gray06: hsl(0, 0%, 6%);
                --system-palette-gray08: hsl(0, 0%, 8%);
                --system-palette-gray10: hsl(0, 0%, 10%);
                --system-palette-gray14: hsl(0, 0%, 14%);
                --system-palette-gray19: hsl(0, 0%, 19%);
                --system-palette-gray24: hsl(0, 0%, 24%);
                --system-palette-gray37: hsl(0, 0%, 37%);
                --system-palette-gray54: hsl(0, 0%, 54%);
                --system-palette-gray70: hsl(0, 0%, 70%);
                --system-palette-gray83: hsl(0, 0%, 83%);
                --system-palette-gray92: hsl(0, 0%, 92%);
                --system-palette-gray95: hsl(0, 0%, 95%);
                --system-palette-gray97: hsl(0, 0%, 97%);
                --system-palette-gray98: hsl(0, 0%, 98%);
                --system-palette-gray99: hsl(0, 0%, 99%);
                --system-palette-oceanLightest: hsl(208, 100%, 90%);
                --system-palette-oceanLighter: hsl(212, 100%, 59%);
                --system-palette-oceanLight: hsl(214, 100%, 54%);
                --system-palette-ocean: hsl(216, 100%, 50%);
                --system-palette-oceanDark: hsl(218, 100%, 47%);
                --system-palette-oceanDarker: hsl(220, 100%, 43%);
                --system-palette-oceanDarkest: hsl(224, 100%, 18%);
                --system-palette-blueLightest: hsl(196, 100%, 90%);
                --system-palette-blueLighter: hsl(200, 100%, 59%);
                --system-palette-blueLight: hsl(202, 100%, 54%);
                --system-palette-blue: hsl(204, 100%, 50%);
                --system-palette-blueDark: hsl(206, 100%, 47%);
                --system-palette-blueDarker: hsl(208, 100%, 43%);
                --system-palette-blueDarkest: hsl(212, 100%, 20%);
                --system-palette-skyLightest: hsl(188, 100%, 89%);
                --system-palette-skyLighter: hsl(192, 100%, 59%);
                --system-palette-skyLight: hsl(194, 100%, 54%);
                --system-palette-sky: hsl(196, 100%, 50%);
                --system-palette-skyDark: hsl(198, 100%, 47%);
                --system-palette-skyDarker: hsl(200, 100%, 43%);
                --system-palette-skyDarkest: hsl(204, 100%, 20%);
                --system-palette-tealLightest: hsl(172, 73%, 88%);
                --system-palette-tealLighter: hsl(176, 88%, 64%);
                --system-palette-tealLight: hsl(178, 80%, 56%);
                --system-palette-teal: hsl(180, 73%, 50%);
                --system-palette-tealDark: hsl(182, 73%, 47%);
                --system-palette-tealDarker: hsl(184, 73%, 43%);
                --system-palette-tealDarkest: hsl(188, 73%, 18%);
                --system-palette-greenLightest: hsl(166, 80%, 88%);
                --system-palette-greenLighter: hsl(162, 76%, 58%);
                --system-palette-greenLight: hsl(161, 92%, 45%);
                --system-palette-green: hsl(160, 100%, 40%);
                --system-palette-greenDark: hsl(159, 100%, 37%);
                --system-palette-greenDarker: hsl(158, 100%, 33%);
                --system-palette-greenDarkest: hsl(152, 100%, 14%);
                --system-palette-yellowLightest: hsl(52, 100%, 88%);
                --system-palette-yellowLighter: hsl(48, 100%, 61%);
                --system-palette-yellowLight: hsl(46, 100%, 56%);
                --system-palette-yellow: hsl(44, 100%, 50%);
                --system-palette-yellowDark: hsl(42, 100%, 46%);
                --system-palette-yellowDarker: hsl(40, 100%, 42%);
                --system-palette-yellowDarkest: hsl(36, 100%, 20%);
                --system-palette-orangeLightest: hsl(41, 100%, 90%);
                --system-palette-orangeLighter: hsl(37, 100%, 61%);
                --system-palette-orangeLight: hsl(35, 100%, 56%);
                --system-palette-orange: hsl(33, 100%, 50%);
                --system-palette-orangeDark: hsl(31, 100%, 46%);
                --system-palette-orangeDarker: hsl(30, 100%, 42%);
                --system-palette-orangeDarkest: hsl(26, 100%, 20%);
                --system-palette-redLightest: hsl(337, 100%, 94%);
                --system-palette-redLighter: hsl(341, 100%, 71%);
                --system-palette-redLight: hsl(343, 100%, 66%);
                --system-palette-red: hsl(345, 100%, 60%);
                --system-palette-redDark: hsl(347, 82%, 54%);
                --system-palette-redDarker: hsl(349, 72%, 46%);
                --system-palette-redDarkest: hsl(353, 100%, 18%);
                --system-palette-pinkLightest: hsl(328, 100%, 94%);
                --system-palette-pinkLighter: hsl(332, 100%, 75%);
                --system-palette-pinkLight: hsl(334, 100%, 71%);
                --system-palette-pink: hsl(336, 100%, 67%);
                --system-palette-pinkDark: hsl(338, 80%, 60%);
                --system-palette-pinkDarker: hsl(338, 59%, 51%);
                --system-palette-pinkDarkest: hsl(346, 100%, 18%);
                --system-palette-purpleLightest: hsl(265, 100%, 94%);
                --system-palette-purpleLighter: hsl(260, 100%, 74%);
                --system-palette-purpleLight: hsl(259deg 100% 71%);
                --system-palette-purple: hsl(258deg 100% 67%);
                --system-palette-purpleDark: hsl(257, 80%, 60%);
                --system-palette-purpleDarker: hsl(256, 62%, 52%);
                --system-palette-purpleDarkest: hsl(252, 69%, 20%);
                --system-shadow-0: null;
                --system-shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
                --system-shadow-2: 0 6px 12px 0 rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(0, 0, 0, 0.04);
                --system-shadow-3: 0 6px 8px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
                --system-shadow-4: 0 8px 12px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
                --system-size-0: 0px;
                --system-size-1: 12px;
                --system-size-2: 14px;
                --system-size-3: min(calc(1rem * (16 / (var(--system-dimension-fontSizeDynamic) + 0.3333333333333333 * var(--system-dimension-fontSizeDifference)))), 16px);
                --system-size-4: min(calc(1rem * (18 / (var(--system-dimension-fontSizeDynamic) + 0.6666666666666666 * var(--system-dimension-fontSizeDifference)))), 18px);
                --system-size-5: 1rem;
                --system-size-6: 1.2rem;
                --system-size-7: 1.4rem;
                --system-size-8: 2rem;
                --system-size-9: 2.6rem;
                --system-size-10: 3.2rem;
                --system-size-11: 4rem;
                --system-size-12: 5.8rem;
                --system-space-0: 0px;
                --system-space-1: 4px;
                --system-space-2: 8px;
                --system-space-3: 12px;
                --system-space-4: 16px;
                --system-space-5: 24px;
                --system-space-6: 32px;
                --system-space-7: 48px;
                --system-space-8: 64px;
                --system-space-9: 88px;
                --system-weight-thin: 200;
                --system-weight-light: 300;
                --system-weight-regular: 400;
                --system-weight-medium: 500;
                --system-weight-bold: 600;
                --system-weight-black: 700;
                --system-width-0: 0px;
                --system-width-1: 300px;
                --system-width-2: 400px;
                --system-width-3: 500px;
                --system-width-4: 600px;
                --system-width-5: 700px;
                --system-width-6: 800px;
                --system-width-7: 900px;
                --system-width-8: 1000px;
                --system-width-9: 1200px;
                --system-width-10: 1400px;
            }

            [data-theme="light"], #__root[data-navigation-theme="light"] #__navigation {
                --system-color-avatar: hsla(0, 0%, 0%, 0.05);
                --system-color-accordion: hsl(0, 0%, 97%);
                --system-color-accordionLight: hsl(0, 0%, 99%);
                --system-color-border: hsla(0, 0%, 0%, 0.05);
                --system-color-button: hsla(0, 0%, 0%, 0.02);
                --system-color-buttonColor: hsla(0, 0%, 0%, 0.8);
                --system-color-buttonDanger: hsl(345, 100%, 60%);
                --system-color-buttonDangerColor: hsl(0, 0%, 100%);
                --system-color-buttonDangerHover: hsl(347, 82%, 54%);
                --system-color-buttonHover: hsla(0, 0%, 0%, 0.05);
                --system-color-buttonSuccess: hsl(160, 100%, 40%);
                --system-color-buttonSuccessColor: hsl(0, 0%, 100%);
                --system-color-buttonSuccessHover: hsl(159, 100%, 37%);
                --system-color-codeBackground: hsla(0, 0%, 0%, 0.02);
                --system-color-codeColor: #666;
                --system-color-codeCopyBackground: hsla(0, 0%, 0%, 0.1);
                --system-color-codeCopyColor: hsla(0, 0%, 0%, 0.7);
                --system-color-codeDimmed1: #999;
                --system-color-codeDimmed2: #bbb;
                --system-color-codeDimmed3: #eee;
                --system-color-codeScrollbarThumb: hsla(0, 0%, 0%, 0.1);
                --system-color-codeScrollbarThumbHover: hsla(0, 0%, 0%, 0.15);
                --system-color-codeSelection: hsla(0, 0%, 0%, 0.05);
                --system-color-codeTint1: #fa0;
                --system-color-codeTint2: #3ae;
                --system-color-codeTint3: #f97;
                --system-color-codeTint4: #0bc;
                --system-color-codeTint5: #85f;
                --system-color-codeTint6: #0bf;
                --system-color-footerColor: hsla(0, 0%, 0%, 0.8);
                --system-color-footerHeadingColor: hsl(0, 0%, 0%);
                --system-color-footerSecondaryColor: hsla(0, 0%, 0%, 0.4);
                --system-color-input: hsl(0, 0%, 97%);
                --system-color-inputTransparent: hsla(0,0%,97%,0);
                --system-color-inputColor: hsla(0, 0%, 0%, 0.9);
                --system-color-inputDangerColor: hsl(345, 100%, 60%);
                --system-color-inputDangerFocusBorder: hsl(345, 100%, 60%);
                --system-color-inputDisabledColor: hsla(0, 0%, 0%, 0.2);
                --system-color-inputPlaceholderColor: hsla(0, 0%, 0%, 0.3);
                --system-color-modal: hsl(0, 0%, 100%);
                --system-color-navigation: hsl(0, 0%, 100%);
                --system-color-navigationAbove: hsl(0, 0%, 100%);
                --system-color-navigationLight: hsla(0, 0%, 0%, 0.05);
                --system-color-navigationBorder: hsla(0, 0%, 0%, 0.05);
                --system-color-navigationColor: hsl(0, 0%, 0%);
                --system-color-navigationThemeColor: hsl(0, 0%, 0%);
                --system-color-navigationMediumColor: hsl(0, 0%, 37%);
                --system-color-navigationLightColor: hsl(0, 0%, 54%);
                --system-color-outline: rgba(0, 0, 0, 0.05);
                --system-color-overlay: hsla(0, 0%, 0%, 0.5);
                --system-color-page: hsl(0, 0%, 100%);
                --system-color-pageTransparent: hsla(0,0%,100%,0);
                --system-color-pageColor: hsl(0, 0%, 0%);
                --system-color-pageColorLight: hsla(0, 0%, 0%, 0.7);
                --system-color-pageColorLighter: hsla(0, 0%, 0%, 0.5);
                --system-color-pageColorLightest: hsla(0, 0%, 0%, 0.3);
                --system-color-plane: hsl(0, 0%, 100%);
                --system-color-primary: hsl(204, 100%, 50%);
                --system-color-primaryDark: hsl(206, 100%, 47%);
                --system-color-segmentedControl: hsl(0, 0%, 100%);
                --system-color-segmentedControlSeparator: hsla(0, 0%, 0%, 0.05);
                --system-color-segmentedControlColor: hsla(0, 0%, 0%, 0.5);
                --system-color-selection: hsl(202, 100%, 54%);
                --system-color-selectionColor: hsl(0, 0%, 100%);
                --system-color-sheet: hsl(0, 0%, 100%);
                --system-color-sheetFlat: hsl(0, 0%, 98%);
                --system-color-sheetOutline: hsl(0, 0%, 97%);
                --system-color-searchActive: hsla(0, 0%, 0%, 0.05);
                --system-color-searchColor: hsla(0, 0%, 0%, 0.4);
                --system-color-searchSeparator: hsla(0, 0%, 0%, 0.05);
                --system-color-tableCheckerboard: hsla(0, 0%, 0%, 0.02);
                --system-color-wireframe: hsla(345,100%,60%,0.08);
            }

            [data-theme="dark"], #__root[data-navigation-theme="dark"] #__navigation {
                --system-color-avatar: hsla(0, 0%, 100%, 0.07);
                --system-color-accordion: hsl(0, 0%, 19%);
                --system-color-accordionLight: hsl(0, 0%, 14%);
                --system-color-border: hsla(0, 0%, 100%, 0.07);
                --system-color-button: hsla(0, 0%, 100%, 0.07);
                --system-color-buttonColor: hsl(0, 0%, 100%);
                --system-color-buttonDanger: hsl(345, 100%, 60%);
                --system-color-buttonDangerColor: hsl(0, 0%, 100%);
                --system-color-buttonDangerHover: hsl(347, 82%, 54%);
                --system-color-buttonHover: hsla(0, 0%, 100%, 0.1);
                --system-color-buttonSuccess: hsl(160, 100%, 40%);
                --system-color-buttonSuccessColor: hsl(0, 0%, 100%);
                --system-color-buttonSuccessHover: hsl(159, 100%, 37%);
                --system-color-codeBackground: hsla(0, 0%, 100%, 0.07);
                --system-color-codeColor: hsla(0, 0%, 100%, 0.7);
                --system-color-codeCopyBackground: hsla(0, 0%, 0%, 0.3);
                --system-color-codeCopyColor: hsl(0, 0%, 100%);
                --system-color-codeDimmed1: #999;
                --system-color-codeDimmed2: #666;
                --system-color-codeDimmed3: #444;
                --system-color-codeScrollbarThumb: hsla(0, 0%, 100%, 0.2);
                --system-color-codeScrollbarThumbHover: hsla(0, 0%, 100%, 0.3);
                --system-color-codeSelection: hsla(0, 0%, 100%, 0.2);
                --system-color-codeTint1: #fc6;
                --system-color-codeTint2: #adf;
                --system-color-codeTint3: #f97;
                --system-color-codeTint4: #2cd;
                --system-color-codeTint5: #b8f;
                --system-color-codeTint6: #0bf;
                --system-color-footerColor: hsla(0, 0%, 100%, 0.8);
                --system-color-footerHeadingColor: hsla(0, 0%, 100%, 0.9);
                --system-color-footerSecondaryColor: hsla(0, 0%, 100%, 0.4);
                --system-color-input: hsl(0, 0%, 19%);
                --system-color-inputTransparent: hsla(0,0%,14%,0);
                --system-color-inputColor: hsla(0, 0%, 100%, 0.9);
                --system-color-inputDangerColor: hsl(345, 100%, 60%);
                --system-color-inputDangerFocusBorder: hsl(345, 100%, 60%);
                --system-color-inputDisabledColor: hsla(0, 0%, 100%, 0.2);
                --system-color-inputPlaceholderColor: hsla(0, 0%, 100%, 0.3);
                --system-color-modal: hsl(0, 0%, 10%);
                --system-color-navigation: hsl(0, 0%, 8%);
                --system-color-navigationAbove: hsl(0, 0%, 14%);
                --system-color-navigationLight: hsla(0, 0%, 100%, 0.1);
                --system-color-navigationBorder: hsla(0, 0%, 100%, 0.07);
                --system-color-navigationColor: hsl(0, 0%, 100%);
                --system-color-navigationThemeColor: hsl(0, 0%, 100%);
                --system-color-navigationMediumColor: hsl(0, 0%, 83%);
                --system-color-navigationLightColor: hsl(0, 0%, 54%);
                --system-color-outline: rgba(255, 255, 255, 0.1);
                --system-color-overlay: hsla(0, 0%, 0%, 0.5);
                --system-color-page: hsl(0, 0%, 8%);
                --system-color-pageTransparent: hsla(0,0%,8%,0);
                --system-color-pageColor: hsl(0, 0%, 100%);
                --system-color-pageColorLight: hsla(0, 0%, 100%, 0.7);
                --system-color-pageColorLighter: hsla(0, 0%, 100%, 0.5);
                --system-color-pageColorLightest: hsla(0, 0%, 100%, 0.3);
                --system-color-plane: hsl(0, 0%, 14%);
                --system-color-primary: hsl(204, 100%, 50%);
                --system-color-primaryDark: hsl(206, 100%, 47%);
                --system-color-segmentedControl: hsla(0, 0%, 100%, 0.1);
                --system-color-segmentedControlSeparator: hsla(0, 0%, 100%, 0.07);
                --system-color-segmentedControlColor: hsla(0, 0%, 100%, 0.4);
                --system-color-selection: hsl(204, 100%, 50%);
                --system-color-selectionColor: hsl(0, 0%, 100%);
                --system-color-sheet: hsl(0, 0%, 14%);
                --system-color-sheetFlat: hsl(0, 0%, 14%);
                --system-color-sheetOutline: hsl(0, 0%, 14%);
                --system-color-searchActive: hsla(0, 0%, 100%, 0.07);
                --system-color-searchColor: hsla(0, 0%, 100%, 0.5);
                --system-color-searchSeparator: hsla(0, 0%, 100%, 0.07);
                --system-color-tableCheckerboard: hsla(0, 0%, 100%, 0.02);
                --system-color-wireframe: hsla(345,100%,60%,0.08);
            }
      
            :root {
                --page-color-backdrop: hsl(0, 0%, 100%);
                --page-color-primary: var(--system-color-primary);
                --navigation-height: 60px;
                scroll-behavior: auto;
            }
        